* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p {
    font-size: 18px;
    text-align: center;
}

#setores {
   display: inline-table;
   width: 15%;
   justify-content: center;
   background-color: white;
   width: 25%;
   height: 500px;
   text-align:center;
}

#titulo-setores {
    color: black;
}

#itensSetor {
    display: inline-table;
    width: 50%;
    position:fixed;
    background-color: rgb(51, 50, 50); 
}

#tituloItensSetor {
    text-align: center;
    margin-bottom: 90px;
    background-color: red;
    border-radius: 50px;
}


.barraRolagem {
  width: 70%;
  height: 600px;
  margin-left:20%;
  text-align: center;  
}

#listaPreDefinida {
    display: flex;
    float: right;
    width: 25%;
    text-align: center;
    max-height: 500px ;
    overflow-x: auto;
}

#listaPreDefinida img {
    max-width: 40px;
    float: right;
}

#titulo-lista-pre{
    color: black;
    font-size:30px; 
}

#titulo{
    text-align: center;
    color: red;
    background-color: black;
    padding: 5px;
}

#titulo img {
    max-width: 80px;
}

.botao-adc {
    float: right; 
    margin-top: 80px; 
    margin-right: 50px;
}

.itens-da-lista {
    background-color: red;
    border-radius: 20px;
}

.itens-da-lista:hover {
    background-color: black;
    color: white;
    transition: 0.02s;
} 

.textos-subtitulos{
    color: white;
}

.section-quantidade {
    display: inline-table;
    margin-top: 10%; 
    margin-right: 50px;
}

#tituloModal {
    color: red;
    font-size: 50px;
}

#tituloModal img{
    max-width: 80px;
    
}
